<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>About</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
     <!-- bootstrap css -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <!-- style css -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
     <!-- Responsive-->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
     <!-- fevicon -->
     <link rel="icon" href="../static/fevicon.png" type="image/gif" />
     <!-- font css -->
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
     <!-- Scrollbar Custom CSS -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
     <!-- Tweaks for older IEs-->
     <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </head>
   <body>
      <div class="header_section header_bg">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand"href="index.html"><img src="../static/images/CAVT-logo.png"  width="193" height="33"></a>

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('index')}}">Home</a>
                     </li>
                     
                     <li class="nav-item">
                        <a class="nav-link" href="{{url_for('cavt')}}">CAVT</a>
                     </li>
                  
                     <li class="nav-item">
                        <a class="nav-link" href="{{url_for('example')}}">Example</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                     </li>
                     
                  </ul>
                 
               </div>
            </nav>
         </div>
      </div>
      <!-- header section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">About CAVT</h1>
                  <div class="bulit_icon"><img src="../static/images/bulit-icon.png"></div>
               </div>
            </div>
            <div class="about_taital_box">
            <p class=" about_right">Welcome to our computer-assisted video translator! We are dedicated to breaking down language barriers and enabling effective communication across different cultures and languages. 
               Our innovative system utilizes cutting-edge technologies to seamlessly translate videos from one language to another.<br>
             <br>
             Whether you are sharing educational content, corporate videos, or personal stories, our computer-assisted video translator enables you to connect with diverse audiences around the world. Break down language barriers, foster cross-cultural understanding, and make a global impact with our video translation solution.<br>
  
               Our platform supports a wide range of languages English, Hindi, Tamil, Telugu, Spanish, Portuguese, Malayalam, Japanese, French, and German ; allowing you to translate your videos into multiple target languages simultaneously. Whether you are a content creator, educator, business professional, or individual, our video translator empowers you to reach a broader audience and expand your global impact.
            </p>
           
               
               
            </div>

            <div class="about_right_box">
               <h1 class="about_taital_1">How to translate</h1>
               <div class=" about_text">
                  <ol>
                     <li>
                       <strong>Upload/paste youtube link of video:</strong> Click on the "Upload Video" button to select the video file you want to translate. 
                     </li>
                     <li>
                       <strong>Select source & target language:</strong> Choose the language which you want to translate your video. Our system supports up to 10 different languages for translation.
                     </li>
                     <li>
                       <strong>Initiate translation:</strong> Click on the "Translate" button to start the translation process. Our system will transcribe the audio content of the video and then translate it into the selected target language.
                    </li>
                     <li>
                       <strong>Download or share:</strong> Once the translated video is generated, you can download it to your device or share it directly from our platform with others.
                     </li>
                     <li>
                        <div class="btn_main">             
                           <div class="about_bt"><a href="{{url_for('cavt')}}">Get started</a>
                           </div>
                         </div>
                     </li>
                   </ol>
                   
                  </div>
               
            </div>
          
               
                
            
         </div>
      </div>
      <!-- about section end -->
      
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-12">
                  <p class="copyright_text">2023 All Rights Reserved. </p>
               </div>
               <div class="col-lg-6 col-sm-12">
                 
               </div>
            </div>
         </div>
      </div>
     
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{{ url_for('static', filename='../static/js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='../static/js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='../static/js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='../static/js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='../static/js/plugin.js') }}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static', filename='../static/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ url_for('static', filename='../static/js/custom.js') }}"></script>
   </body>
</html>