<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Blog</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
    
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="../static/fevicon.png" type="image/gif" />
      <!-- font css -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   
   
   </head>   </head>
   <body>
      <div class="header_section header_bg">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand"href="index.html"><img src="../static/images/CAVT-logo.png"  width="193" height="33"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('index')}}">Home</a>
                     </li>
                     
                     <li class="nav-item">
                        <a class="nav-link" href="{{url_for('cavt')}}">CAVT</a>
                     </li>
                  
                     <li class="nav-item">
                        <a class="nav-link" href="{{url_for('example')}}">Example</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                     </li>
                     
                  </ul>
                 
               </div>
            </nav>
         </div>
      </div>
      <!-- header section end -->
      <!-- blog section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">Examples</h1>
                  <div class="bulit_icon">
              <h1>YouTube Video List</h1>
 
  <div class="video-row">
    <img class="video-thumbnail" src="http://img.youtube.com/vi/v86oobzyFBw/default.jpg" alt="Video Thumbnail">
    <div class="video-details">
      <p class="video-title">English video</p>
      <p class="video-description">BE INSPIRED | Wings Of Fire ( WOF) | APJ Abdul Kalam | 1 Minute Motivation</p>
    </div>
    <button class="copy-button" onclick="copyLink('v86oobzyFBw')">Copy Link</button>
  </div>
<div class="video-row">
    <img class="video-thumbnail" src="http://img.youtube.com/vi/iVo3LfZti5w/default.jpg" alt="Video Thumbnail">
    <div class="video-details">
      <p class="video-title">Hindi video</p>
      <p class="video-description">1 minute motivational video | motivational speech-In hindi</p>
    </div>
    <button class="copy-button" onclick="copyLink('iVo3LfZti5w')">Copy Link</button>
  </div>
<div class="video-row">
    <img class="video-thumbnail" src="http://img.youtube.com/vi/GqlqNx2Eszw/default.jpg" alt="Video Thumbnail">
    <div class="video-details">
      <p class="video-title">Tamil video</p>
      <p class="video-description">DON'T WASTE TIME! | One-minute Motivational Video | Tamil</p>
    </div>
    <button class="copy-button" onclick="copyLink('GqlqNx2Eszw')">Copy Link</button>
  </div>
<div class="video-row">
    <img class="video-thumbnail" src="http://img.youtube.com/vi/RSSTfrRJo9M/default.jpg" alt="Video Thumbnail">
    <div class="video-details">
      <p class="video-title">English video</p>
      <p class="video-description"> STEVE JOBS MOTIVATION - Apple Success Story | 1 Minute Motivation</p>
    </div>
    <button class="copy-button" onclick="copyLink('RSSTfrRJo9M')">Copy Link</button>
  </div>
  
		</div>
               </div>
            </div>
           
                  
            </div>
         </div>
         </div>
      </div>
      <!-- blog section end -->
    
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-12">
                  <p class="copyright_text">2023 All Rights Reserved.</p>
               </div>
               <div class="col-lg-6 col-sm-12">
                 
               </div>
            </div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/popper.min.js"></script>
      <script src="../static/js/bootstrap.bundle.min.js"></script>
      <script src="../static/js/jquery-3.0.0.min.js"></script>
      <script src="../static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../static/js/custom.js"></script>
   </body>
</html>